{% extends 'base.html.twig' %}

{% block title %}New Formation{% endblock %}

{% block body %}
    {% if app.user %}
<div class="page">
    <h1>Ajouter un Formation</h1>

    {{ include('formation/_form.html.twig') }}

    {% else %}
        <div class="alert alert-danger" role="alert">

            Vous besoin de connecter avant !!
        </div>
        </div>
    {% endif %}
{% endblock %}
