{% extends 'base.html.twig' %}

{% block title %}New Langue{% endblock %}

{% block body %}
    {% if app.user %}
<div class="page">
    <h1>Ajouter un Langue</h1>

    {{ include('langue/_form.html.twig') }}


    {% else %}
        <div class="alert alert-danger" role="alert">

            Vous besoin de connecter avant !!
        </div>
        </div>
    {% endif %}
{% endblock %}
