{% extends 'tmp.html.twig' %}


{% block body %}
    {% if app.user %}
<!-- banner -->
<div class="banner_top" id="home">
    <div class="wrapper_top_w3layouts">

{%include "menu.html.twig" %}
        <!-- /girds_bottom-->
        <div class="grids_bottom">
            <div class="style-grids">
                <div class="col-md-6 style-grid style-grid-1">
                    <img src="https://myepi.episousse.com.tn/img/epi.png" alt="shoe">
                </div>
            </div>
            <div class="col-md-6 style-grid style-grid-2">
                <div class="style-image-1_info">
                    <div class="style-grid-2-text_info">
                        <h3>EPI crée votre CV</h3>
                        <p>ILe logiciel de gestion de CV s’impose comme un outil de recrutement indispensable. En 2018, le recrutement est un enjeu majeur pour les entreprises.
                            Ces dernières se retrouvent face à une problématique difficile à résoudre : le EPI a crée une platfrome de GESTION CV pour facilite la creation de cv et
                            eviter l'utilisation des papiers .</p>
                        <div class="shop-button">
                            <a href="{{ path('condidat', {'id' : app.user.id }) }}">Commencez Maintenant</a>
                        </div>
                    </div>
                </div>
                <div class="style-image-2">
                    <img src="https://scontent.ftun1-1.fna.fbcdn.net/v/t1.0-9/44747927_2154860784764084_3070694247029014528_n.jpg?_nc_cat=106&_nc_ht=scontent.ftun1-1.fna&oh=291315154e198dcd4d4e8118e155c647&oe=5C8FBDB7" alt="shoe">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //grids_bottom-->
    {% else %}
    <div class="alert alert-danger" role="alert">

        Vous besoin de connecter avant !!
    </div>
    {% endif %}
{% endblock %}