{% extends 'base.html.twig' %}

{% block title %}Edit Experience{% endblock %}

{% block body %}
<div class="page">
    <h1>Modifier Votre experience</h1>

    {{ include('experience/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('experience_index') }}">back to list</a>

    {{ include('experience/_delete_form.html.twig') }}
</div>
    {% endblock %}
