
{% extends 'base.html.twig' %}

{% block title %}New Experience{% endblock %}

{% block body %}
    {% if app.user %}
<div class="page">
    <h1>Ajouter une  Experience</h1>

    {{ include('experience/_form.html.twig') }}


        {% else %}
            <div class="alert alert-danger" role="alert">

                Vous besoin de connecter avant !!
            </div>
            </div>
{% endif %}
{% endblock %}


